@model HL7_TCP.Web.Models.SendHL7ViewModel
@{
    ViewBag.Title = "Send HL7 Messages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/HL7Send.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/HL7Send.js"></script>
 
<h2>@Html.RouteLink("Send HL7 Messages", "Home")</h2>
<fieldset>
    @using (Html.BeginRouteForm("SendHL7Message", FormMethod.Post))
    {

        <legend>Send A Batch Of HL7 Messages</legend>
        <ul>
            <li><label for="destinationServer">Destination Server:</label>@Html.TextBoxFor(model => model.DestinationServer, new { id = "destinationServer" })</li>
            <li><label for="destinationPort">Destination Port:</label>@Html.TextBoxFor(model => model.DestinationPort, new { id = "destinationPort" })</li>
            <li><label for="numMsgsToSend"># Messages To Send:</label>@Html.TextBoxFor(model => model.NumMessages, new { id = "numMsgsToSend" })</li>
            <li><label for="hl7Message">HL7</label>@Html.TextAreaFor(model => model.HL7MessageToSend, new { id = "hl7Message", rows = "10" })</li>
            <li><label for="submit"></label><input type="submit" id="submit" value="Send It" /></li>
        </ul>
    }
</fieldset>
<p></p>
<span id="msg"></span>